body {
  background-color: #04a6ed;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  color: #fdffff;
  padding: 5px 20px;
  background-color: #849eb6;
  border-style: none;
}
input {
  height: 25px;
}